<h6 id="servicesHeading">Customer Services:</h6><br>
<hr>
<ul>
  <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active" ><div class="liHover"><li>Contact Us</li></div></a>

  <a [routerLink]="['/about-us']" routerLinkActive="router-link-active" ><div class="liHover"><li>About Us</li></div></a>
<a [routerLink]="['/security-and-privacy']" routerLinkActive="router-link-active" ><div class="liHover"><li>Security & Privacy</li></div></a>
  <a [routerLink]="['/terms-and-conditions']" routerLinkActive="router-link-active" ><div class="liHover"><li>Terms and Conitions</li></div></a>

</ul>
