
<div class="container-fluid">


    <div class="row no-gutters" >
      <div  class='col-md-4 text-center '>
      <div   class="card text-center border-0 feature-card w-100" style="width: 18rem;">

          <div class="card-body">
            <br>
            <h5 class="card-title">Flat 5% Sale</h5>
            <br>
            <p class="card-text">Use our PromoCode: HIGH5</p>
            <h1>NEW YEAR SALE</h1>
            <br>
            <a href="#" class="btn btn-danger">NOW ON</a>
          </div>
        </div>
  </div>
  <div  class='col-md-8 img'>
      <!-- <img  src='../../assets/images/background.jpg' class="img-fluid" alt="Responsive image"> -->
  </div>
    </div>




  </div>
