<div class="container-fluid">
    <div class="row">
        <div class="card-group">
            <div class="card text-center">
              <img class="card-img-top" src="../../assets/images/pic1.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
              </div>

            </div>
            <div class="card text-center">
              <img class="card-img-top" src="../../assets/images/pic2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                </div>

            </div>
            <div class="card text-center">
              <img class="card-img-top" src="../../assets/images/pic3.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                </div>

            </div>
          </div>
    </div>
  </div>
