<div class="main">
<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#">EDS</a>


  <div class=" navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-auto">
<form class="form-inline my-2 my-lg-0">
    <div class=" inner-addon left-addon ">
        <i class=" fas fa-search float-left search-icon" ></i>
        <input  type="text" class="form-control search" placeholder="Search...">
      </div>
      <div>
          <button class="search-btn btn">Search</button>
      </div>
    </form>



    </ul>

  </div>

</nav>

</div>
