
<div class="container-fluid">

    <div class="row">
      <div class="container"><hr>
        <div class="row">

          <div class="col-4 text-center">
              <i class="fas fa-map-marker-alt "></i><br><br>
              <p>LA Towels, 30 Mason Street, 2nd Floor, manchester M4Sey</p>
          </div>
          <div class="col-4 text-center">
              <i class="fas fa-phone"></i><br><br>
              <p>+(44)1617915040</p>

            </div>
            <div class="col-4 text-center">
                <i class="fas fa-envelope"></i><br><br>
                <p>sales@latowels.co.uk</p>
              </div>
        </div>
      </div>
    </div>
  </div>
