<div class="container-fluid">
    <div class="row">
        <div class="card mb-3 border-0 text-center">
            <div class="card-body">
              <p class="card-text">BEST SELLING</p>

                <h2 class="card-title">Soft Bath Robes</h2>

              </div>
            <img class="card-img-top" src="../../assets/images/wall.jpg" alt="Card image cap">
            <div class="card-body">
              <button type="button" class="btn btn-outline-dark">Explore the collection</button>
            </div>


          </div>

    </div>
  </div>
