
<div class="container">
  <div class="row">
      <div class="card-deck">
          <div class="card border-dark">
            <img class="card-img-top" src="../../../../../src/assets/images/robes.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>

            </div>
          </div>
          <div class="card border-dark">
            <img class="card-img-top" src="../../../../../src/assets/images/robes.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>

            </div>
          </div>
          <div class="card border-dark">
            <img class="card-img-top" src="../../../../../src/assets/images/robes.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>

            </div>
          </div>
        </div>
  </div>

</div>

