<div class="container-fluid">
  <div class="row main">
    <div class="col-3">
      <app-customer-services-menu></app-customer-services-menu>
    </div>
    <div class="col-9">
      <h4>About Us</h4>
<div class="row">
      <div class="col-12">
        <img class="img-fluid" src="../../../assets/images/about-us-banner.png">
      </div>

    </div>

    </div>
    <div class="offset-3 col-9">
<p><br>
    The LA Towels has gone on to establishing itself as Britain’s leading supplier and manufacturer in household linen offering a comprehensive range of towels, bedding, duvets, pillows, table linen and BS 7175 flame resistant bedding to retail customers, businesses and institutions all across the globe. Our product will add luxury softness to your bathroom. We pride ourselves on supplying the highest quality items at affordable prices. We are offering a high quality services.
<br><br>
    <b>Our objective</b><br>
    This remains the same from the very beginning, to provide exceptional quality products at wholesale prices powered by great customer service. We believe that is the backbone to our success and growth over the years.
<br><br>
    <b>How our prices are so low</b><br>
    We cut out all the additional costs such as expensive marketing, promotion and fancy photo shoots that you, the customers end up paying for when you buy from high street stores. We then pass on the savings to you in the form of lower prices.

    We also supply our products directly from our factory which enables us to cut out any intermediaries thus, allowing us to supply directly to our customers. This allows us to supply outstanding quality products at wholesale prices.
<br><br>
    <b>We supply to retail customers, businesses & institutions</b><br>
    We supply our products to some of the largest institutions across the world including the NHS, Prisons, Universities, Hotels all the way down to the individual retail customer. There is absolutely no minimum order requirement.
<br><br>
    <b>Exceptional quality products</b><br>
    The quality of our products is second to none and it’s not just us who think that.
</p>
    </div>

  </div>

</div>




