<div  class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-4 text-center">
            <ul>
              <li><b>Customer Services</b></li>
              <hr width="40%">
              <li><a [routerLink]="['/contact-us']" routerLinkActive="router-link-active" >Contact Us</a></li>
              <li>Delivery Information</li>
              <a [routerLink]="['/terms-and-conditions']" routerLinkActive="router-link-active" ><li>Terms and Conditions</li></a>
            </ul>
          </div>
          <div class="col-4 text-center">
              <ul>
                  <li><b>Learn More</b></li>
                  <hr width="40%">
                  <li><a [routerLink]="['/about-us']" routerLinkActive="router-link-active" >About Us</a></li>
                  <li>Blog</li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <ul>
                    <li><b>Other Services</b></li>
                    <hr width="40%">
                    <li>365 Days Returns</li>
                    <li><a [routerLink]="['/security-and-privacy']" routerLinkActive="router-link-active" >Security & privacy</a></li>
                  </ul>
              </div>
        </div>
      </div>
    </div>
  </div>

