ul{
  list-style: none;
}
.container-fluid{
  background: #F2F2F2;
}
.row{
  padding-top: 50px;
}
li{
  font-size: 11px;
  padding-top: 3px;
  font-family: Montserrat;
  font-style: normal
}

a{

  color: inherit
}
