<div class="container-fluid">
  <div class="row main">
    <div class="col-3">
      <app-customer-services-menu></app-customer-services-menu>



    </div>
    <div class="col-9">
       <h4>Contact Us</h4>
      <div class="row time">
        <div class="col-2">
          <i id="icon" class="far fa-clock"></i>
        </div>
        <div class="col-10">
          <h4 id="openingTImes">Opening Times</h4>
          <p>Monday – Friday: 6am – 9pm GMT<br>
        Sundays closed</p>
        </div>

      </div>

      <div class="row time">
        <div class="col-2">
          <i id="icon" class="fas fa-phone"></i>
        </div>
        <div class="col-10">
          <h4 id="openingTImes">By telephone:</h4>
          <p>Call free from within the UK 0161 791 5040<br>

              (overseas +44 161 791 5040)</p>
        </div>

      </div>

      <div class="row time">
        <div class="col-2">
          <i id="icon" class="fas fa-at"></i>
        </div>
        <div class="col-10">
          <h4 id="openingTImes">By email:</h4>
          <p>info@latowels.co.uk<br>

              We try to respond to any email enquiries within one working day.</p>
        </div>

      </div>

      <div class="row time">
        <div class="col-2">
          <i id="icon" class="fas fa-envelope"></i>
        </div>
        <div class="col-10">
          <h4 id="openingTImes">By post:</h4>
          <p>LA Towels<br>
              2nd Floor<br>
              30 Mason Street<br>
              M4 5EY<br>
              Manchester<br>
              United Kingdom</p>
        </div>

      </div>



