p{
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.625;
  color: #1e1e1e;
  font-style: normal;
  font-weight: 300;
}
i{

}
.main{
  padding-top: 20px;
}
.time{
  padding-top: 20px;
}
h3{
  font-family: "Lato",Helvetica,Arial,sans-serif;

    font-style: normal;
    font-weight: 700;
    position: absolute

}

#icon{
  font-size: 33px;
  padding-top: 8px;
    position: absolute;

}
ul{
  list-style: none;
  line-height: 150%;
}
ul li{
  display: block;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;

}

.liHover :hover{
  background: #424242;
  color: beige;
  cursor: pointer;
}
#servicesHeading{
  padding-top: 14px;
}
